@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

table,th{
    font-family: 'Concert One', cursive;
    color: rgb(144, 158, 230);
    margin: auto;
    width: 35cm;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    font-size: 23px;
}
th{
    text-decoration: underline;
}
td{
    font-family: 'Amatic SC', cursive;
    color: rgb(164, 182, 194);
    font-size: 22px;
}
body{
    background-color: black; 
    margin: 0;
}
h1{
    margin: 1cm;
    text-align: left;
    color: rgb(58, 56, 56);
    font-size: 1.5cm;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: rgb(99, 98, 98);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 35px;
}
p{
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    text-align: left;
    margin: 2cm;
    color: rgb(244, 245, 245);
}
.background{
    border: 2px solid white;
    border-right-style: none;
    border-left-style: none;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/277347228343524934/BE619162B49D7055A94DABBC75284FB213965DCB/);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1cm;
    background-size: cover;
    width: 100%;    
}
.background2{
background-image: url(https://cdn.mos.cms.futurecdn.net/xePTkUayyCCn7QnVXUjhTg.jpg);
background-blend-mode: darken;
background-repeat: no-repeat;
background-size: cover;
}
img{
    width: 100%;
    margin: 0;
    height: 100%;
}
.profile{
    border: 2px solid white;
    background-image: url(media/ProfilePicture.jpg);
    background-size: 2cm;
    width: 2.1cm;
    height: 2.1cm;
    border-radius: 100%;
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;   
}
.profile_td{
    color: white;
    font-size: 1.5cm;
    text-align: left;
}
.alignleft{
    text-align: left;
}
hr{
    border: 1.5px solid white;
}